
#radial_stripes {
    z-index: -100;
    background-color: whitesmoke;
    position:absolute;
    opacity:1;
    top:-50vw;
    left:-50vw;
    width:200vw;
    height:200vw;
    animation:rotate 30s infinite linear;
    background-image:url('radial-stripes.svg');
    opacity: 0;
    display:none;
}

body {
    width: 100vw;
    height: 100vw;
    overflow: hidden;
}

.punct {
    background-color: red;
    width: 3px;
    height: 1px;

}

/* Animation keyframes */
@keyframes rotate {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
    0% {opacity:0;}
    100% {opacity:1;}
}